<div >
  <form [formGroup]="username" (ngSubmit)="CheckValidMailId(emailId)">

    <div layout="row" class="forgotBag center">
      <div flex="35">
      </div>
      <div flex="25" class="rightLoginSty">

        <div layout="row">
          <div flex class="loginTxt">
            Forgot Password
          </div>
        </div>
        <div layout="row">

          <div flex="100">
            <ul class="loginUL">
              <li class="forgotEmail">
                <label class="userTxt center"> Enter Email ID</label>
                <span class="asterixCss">*</span>
              </li>
              <li>
                  <div class="form-group">
                    <input type="text" formControlName="emailid" class="form-control inputLogin center"
                      [ngClass]="{ 'is-invalid': submitted && f.emailid.errors }" />
                    <div *ngIf="submitted && f.emailid.errors" class="invalid-feedback inputLogin">
                      <div *ngIf="f.emailid.errors.required" class="messages" style="color: red;" role="alert">
                        This field cannot be left blank</div>
                    </div>
                    <div class="forgotMsgTxt inputLogin" *ngIf="emailIdErrorMsg">
                      Sorry. We could not find an account with that email address
                    </div>
                  </div>        
              </li>
              <li>
                <br />
                <br />
                <div class="form-group">
                  <button mat-button class="md-raised md-primary loginStyBtn" type="submit">
                    <img src="../../../assets/images/loginLock.png" class="logIco">&nbsp; Submit
                  </button>
                </div>
              </li>
              <li class="forgotMsg" style="color:#dfdfdf;" *ngIf="emailIdSuccessMsg">
                <a href="javascript:;" (click)="CheckValidMailId()">
                </a>
                An email has been sent to you to reset your password.
              </li>
              <li class="forgotMsg" style="color:#dfdfdf;">
                <label class="userTxt" style="color:#a8d04b"></label>
                <a (click)="redirectToLoginPage()" style="color:#29b6f6; cursor: pointer;">Click here to go to login page
                  immediately.</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>