.center{
    margin-left: auto;
    margin-right: auto;
  }

  .forgotBag{
    width: 25%;
    background-color: #e0e0e0;
    margin-left: 39%;
    padding-top: 8px;
    margin-top: 75px;
    height: 382px;
    padding-bottom: 10px;
  }

  .form-control {
   width: 77% !important;
  }